architecture/credentials-gs.json
data/data.csv
dev/ETL/input/data.csv
dev/ETL/.ipynb_checkpoints/Spark Job - Notebook-checkpoint.ipynb
.markdownlint.json
credentials/credentials-gs.json

dev/ETL/credentials/credentials-gs.json
dev/ETL/gcs-connector-hadoop2-latest.jar
dev/ETL/.ipynb_checkpoints/*

data/220312.csv
data/220312-subset.csv

services/pythonBigQuery_credentials.json
services/keys/*

**/pythonBigQuery_credentials.json*

venv/**
test.py
