# Utility
jupyterlab==3.0.17
ipykernel==6.0.3

# SDK's
gcloud==0.18.3
google-cloud-storage

# Coding
unittest2>=1.1.0 

# API's
grpc-interceptor >= 0.11.0
grpcio-tools >= 1.30

# Data

pyspark>=3.1.2

# IaC

pulumi>=3.0.0,<4.0.0
pulumi-gcp>=6.0.0,<7.0.0
